body {
    background: salmon;
    margin: 0;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    background-color: #fff;
}

.navbar span {
    padding: 10px;
    font-size: 13px
}

.navbar div {
    position: absolute;
    right: 30px;
    display: inline-block;
    background: url("https://png.pngtree.com/element_origin_min_pic/17/09/19/86985f3cbfd0c2f42a83895cea81841d.jpg")no-repeat center center/cover;
    width: 50px;
    height: 50px;
}

.navbar img {
    width: 60px;
    position: absolute;
    right: 30px;
}

.title {
    color: #fff;
    text-align: center;
}

.title p {
    max-width: 660px;
    margin: auto;
    padding: 50px;
    padding-top: 30px
}

.title h1 {
    padding-top: 20px;
}

#services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrapper img {
    width: 150px;
    height: 150px;
    background-color: rgb(38, 38, 80);
    border-radius: 50%;
    padding: 10px;
    margin: auto 30px;
}