.mainSection {
    background-color: rgb(190, 72, 91);
    color: #fff;
}

.page .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
}

.navbar span {
    margin: 0 20px;
}

.navbar img {
    width: 50px;
    height: 50px;
    margin-right: 10px;

}

.firstSection {
    margin: 50px 0;
}

.firstSection h1,
.firstSection p {
    text-align: center;
    padding: 10px;

}

.secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondSection div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}

.secondSection div p {
    margin: 5px 0;
}


.secondSection img {
    border-radius: 50%;
    width: 30%;
    margin: 20px auto;

}